body {
    margin:1em auto;
    max-width:40em;
    padding:0 .62em 3.24em;
    background-color: #EFE0B2;
  }
  
.container {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px;
    background: #FFFED3;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    margin: 0px;
    color: #950002;
    font-family: 'Beau Rivage', serif;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 4px #E2B76C;
}

@media (max-width: 600px) {
    h1 {
      font-size: 80px;
    }
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #950002, transparent);
}

.quote {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.attribute {
    text-align: right;
}

.links {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}