<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>King Kodaly</title>
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="icon" href="kodaly32.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Beau+Rivage">
	{{ block "opengraph" . }}
	{{ .Content }}
	{{ end }}
</head>
<body>
<main>
<article>
<div class="container">
{{ block "main" . }}
{{ .Content }}
{{ end }}
</div>
</article>
</main>
</body>
</html>
